Django==2.1.5
pytz==2018.9
backcall==0.1.0
cairocffi==0.9.0
CairoSVG==2.2.1
cffi==1.11.5
cssselect2==0.2.1
decorator==4.3.0
defusedxml==0.5.0
Django==2.1.5
html5lib==1.0.1
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
Pyphen==0.9.5
pytz==2018.9
six==1.12.0
sqlparse==0.2.4
tinycss2==0.6.1
traitlets==4.3.2
wcwidth==0.1.7
WeasyPrint==44
webencodings==0.5.1
backcall==0.1.0
cairocffi==0.9.0
CairoSVG==2.2.1
cffi==1.11.5
cssselect2==0.2.1
decorator==4.3.0
defusedxml==0.5.0
Django==2.1.5
html5lib==1.0.1
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
Pyphen==0.9.5
python-decouple==3.1
python-http-client==3.1.0
pytz==2018.9
six==1.12.0
sqlparse==0.2.4
tinycss2==0.6.1
traitlets==4.3.2
wcwidth==0.1.7
WeasyPrint==44
webencodings==0.5.1
