{% extends 'base.html' %}
{% block title %} Detalhes do {{ questionario }} {% endblock title %}
{% block content %}
<h2>
    {{ questionario.titulo }} - Número de resposta: {{ questionario.numero_de_respotas }}
    <a class="btn btn-primary" href="{% url 'pdf-questionario' id=questionario.id%}">pdf</a>
</h2>
    {% for pergunta in perguntas %}
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion{{ pergunta.id }}" aria-controls="collapseOne">
             {{ pergunta }}
            </button>
          </h2>
        </div>
      </div>
    </div>
    {% for resposta in pergunta.respostas %}
    <div id="accordion{{ pergunta.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <p>{{ resposta }} - Número de Respostas:  {{ resposta.vezes_selecionada }}</p>
              <script>
              Highcharts.chart('container'+'{{pergunta.id}}', {
                  chart: {
                      type: 'column'
                  },
                  title: {
                      text: '{{pergunta}}'  // pergunta
                  },
                  xAxis: {
                      categories: {{ pergunta.lista_das_respostas|safe }}
                  },
                  series: [{
                      name: 'Vezes escolhida',
                      data: {{ pergunta.contagem_das_respostas|safe }}
                  }]
              });
              </script>
              <div id="container{{pergunta.id}}"></div>
          {% empty %}
          <p>Ainda não há respostas a essa pergunta.</p>
    </div>
    {% endfor %}
    {% empty %}
    Ainda não há perguntas a este questionário.
    {% endfor %}
{% endblock content %}
