<h2>{{ questionario.titulo }} - Número de resposta: {{ questionario.numero_de_respotas }}</h2>
    {% for pergunta in perguntas %}
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion{{ pergunta.id }}" aria-controls="collapseOne">
             {{ pergunta }} {% if pergunta.respostas %}- mais escolhida - {{ pergunta.mais_escolhida }} {% endif %}
            </button>
          </h2>
        </div>
      </div>
    </div>
    {% for resposta in pergunta.respostas %}
    <div id="accordion{{ pergunta.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <p>{{ resposta }} - Número de Respostas:  {{ resposta.vezes_selecionada }}</p>
          {% empty %}
          <p>Ainda não há respostas a essa pergunta.</p>
    </div>
    {% endfor %}
    {% empty %}
    Ainda não há perguntas a este questionário.
    {% endfor %}


<h3>Para mais informações visualize a versão web.</h3>
